{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "jsxSingleQuote": true,
  "arrowParens": "always",
  "printWidth": 120,
  "useTabs": false,
  "bracketSpacing": true,
  "quoteProps": "preserve"
}
